
<div class="ekart--search--product">

    <!-- non related compoennt communication -->
    <!-- <input class="ekart-search-product-input" [(ngModel)]="searchText" (input)="onSearchTextChange()"> -->
    <!-- <button  [ngClass]="{'btn': true,'btn-search': searchText, 'btn-search-disabled': !searchText}" [disabled]="!searchText">Search</button> -->

    <!-- template reference variable -->
    <!-- <input class="ekart-search-product-input" #searchInput> -->
    <!-- <input class="ekart-search-product-input" [value]="searchText" (input)="updateSearchText($event)"> -->
    <!-- <button  class="btn btn-search" (click)="SetsearchText(searchInput)">Search</button> -->
    <!-- passing template refrence variable as an argument to the method and after that we can access the DOM value -->


    <!-- viewCHild() -->
    <input class="ekart-search-product-input" #searchInput>
    <button  class="btn btn-search" (click)="SetsearchText()">Search</button>


</div>
<div class="ekart-search-result-for"><p *ngIf="searchText != ''"><strong>Search result for:</strong> {{ searchText }}</p></div>

<!-- false , '', null, undifined, 0 => false -->