<div class="container">
    <input type="text" #inputEl (focus)="0">
    <!-- change detection will call focus event -->
    <!-- <button>show/hide</button> -->

    <button (click)="onBtnClick(inputEl)"> Submit</button>
    
    <app-demo [message]="inputVal">
        <!-- <p #temp>this is projected content</p> -->
        <p #temp>user has entered following text {{inputVal}} </p>
        <!-- projectted content will change then it will call ngaftercontentchecked -->
    </app-demo>
    <!-- <app-demo></app-demo>
    <app-demo></app-demo> -->
    <!-- here 3 times compoennt is intialized and constructor will call 3 time instances -->
    <!-- <button>show/hide</button> -->


</div>

<app-parent></app-parent>

<h1>Learn NG Template</h1>

<!-- defing a template conditinal render -->
 <!-- ng template outlet directive -->
 <!-- ngTemplateOutlet Directive , and add the template reference varibale -->

<ng-template #myTemplate>
    <h1>thi is template</h1>
    <p> this is an example paragraph to understand ng-template</p>

</ng-template>

<div *ngTemplateOutlet="myTemplate">myTemplate

</div>
<!-- ng-container 2nd case -->

<ng-container *ngTemplateOutlet="myTemplate">myTemplate1</ng-container>



<!-- ng-container 1stcase -->

<ng-container *ngIf="toggle; else toggleOf">

    <p>the toggle is on</p>

</ng-container>
<!-- here else showin Any HTML element. Some elements directly implement this interface, while others implement it via an interface that inherits it.
 so we need to use the ng-template not the ng-container-->

<ng-template #toggleOf>

    <p>the toggle is of</p>

</ng-template>
<button (click)="onToggle()"> toggle</button>
 <!-- end -->

<!-- template refrernce varibale -->

<div class="input-container">
    <input type="text" placeholder="First Name" #inputEl>
    <br><br>
    <input type="text" placeholder="Middle Name" #inputEl>
    <br><br>
    <input type="text" placeholder="Last Name" #inputEl>
    <button (click) ="show()">Show Full Name</button>
    <h1>{{fullName}}</h1>
</div>



