<!-- Creating a Custom Class Directive -->

<h2> Custom class and style directives</h2>
<!-- <div [ngClass]="{appHighLight: 10 >7, 'app-container': true}">  -->
     <!-- appHighLight -> css class will if the boolean value is true -->
     <!-- in javascript object property name cannot have hypen if hypen ake it has '' -->
      <!-- custom own class directive -->
    <!-- <div appClass1 [display]="{'app-container': true,appHighLight: true, appFont: 5 >2}">  -->

        <!-- directive as propety -->

        <div  [appClass1]="{'app-container': true,appHighLight: true, appFont: 5 >2}"> 

        
   
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
    </p>
</div>
<hr>
<!-- creating a custom style directive -->

<h2> creating a custom style directive </h2>


<!-- <div class="app-container" [ngStyle]="{backgroundColor: active ? 'green' : 'red', color:active ? 'white': 'black'}"> -->
    <!-- based on the active property value set color change the dynamically -->
<!-- <div class="app-container" appStyle [style]="{backgroundColor: 'red', color: 'white'}"> -->

    <!-- css style dyna,ically -->
    <!-- <div class="app-container" appStyle [style]="{backgroundColor: active? 'green': 'red', color: active? 'white' : 'black'}"> -->

        <!-- selector directive direclty as property -->
        <div class="app-container"  [appStyle]="{backgroundColor: active? 'green': 'red', color: active? 'white' : 'black'}">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
    </p>
</div>

<hr>
 

<!-- end -->


<div class="demo-container">
    <app-demo1></app-demo1>
</div>



<div class="container">
    <input type="text" #inputEl (focus)="0">
    <!-- change detection will call focus event -->
    <!-- <button>show/hide</button> -->

    <button (click)="onBtnClick(inputEl)" > Submit</button>
    
    <app-demo [message]="inputVal" *ngIf="!destroy">
        <!-- <p #temp>this is projected content</p> -->
        <p #temp>user has entered following text {{inputVal}} </p>
        <!-- projectted content will change then it will call ngaftercontentchecked -->
    </app-demo>
    <br><br>
    <button (click)="destroyComponent()">show/hide componenet</button>
    <!-- ngdestroy will just before compoennt is destroyed -->
    <!-- <app-demo></app-demo>
    <app-demo></app-demo> -->
    <!-- here 3 times compoennt is intialized and constructor will call 3 time instances -->
    <!-- <button>show/hide</button> -->


</div>

<app-parent></app-parent>

<h1>Learn NG Template</h1>

<!-- defing a template conditinal render -->
 <!-- ng template outlet directive -->
 <!-- ngTemplateOutlet Directive , and add the template reference varibale -->

<ng-template #myTemplate>
    <h1>thi is template</h1>
    <p> this is an example paragraph to understand ng-template</p>

</ng-template>

<div *ngTemplateOutlet="myTemplate">myTemplate

</div>
<!-- ng-container 2nd case -->

<ng-container *ngTemplateOutlet="myTemplate">myTemplate1</ng-container>



<!-- ng-container 1stcase -->

<ng-container *ngIf="toggle; else toggleOf">

    <p>the toggle is on</p>

</ng-container>
<!-- here else showin Any HTML element. Some elements directly implement this interface, while others implement it via an interface that inherits it.
 so we need to use the ng-template not the ng-container-->

<ng-template #toggleOf>

    <p>the toggle is of</p>

</ng-template>
<button (click)="onToggle()"> toggle</button>
 <!-- end -->

<!-- template refrernce varibale -->

<div class="input-container">
    <input type="text" placeholder="First Name" #inputEl>
    <br><br>
    <input type="text" placeholder="Middle Name" #inputEl>
    <br><br>
    <input type="text" placeholder="Last Name" #inputEl>
    <button (click) ="show()">Show Full Name</button>
    <h1>{{fullName}}</h1>
</div>



