
<div class="ekart--product--container">
<!-- <img [src]="product.pImage">
<p>Name: {{product.name}}</p>
<p>Price: {{ '$' + product.price}}</p>
<p>Color: {{product.color}}</p>
<p>Discount Price: {{ product.price - (product.price * product.discount / 100)}} </p>
 <p>Discount price {{getDiscountPrice().toFixed(2)}}</p>
 <p>{{ product.inStock > 0 ? 'Only ' + product.inStock + ' Items Left' : 'Not In Stock' }}</p>

 <button [disabled]="!(product.inStock > 0)">buy now</button>
 <input [value]="name" (input)="onNameChange()"> 
 <input  (input)="onNameChange()"> 
 <input  (input)="onNameChange($event)"> 
 input event for the change the value
 <br>
 <p>Name = {{name}}</p>
 <button (click)="decrementCartValue()">-</button>
 <span>{{addToCart}}</span>
 <button (click)="incrementCartValue()">+</button> -->
 <app-search (onSearchTextChanges)="SetsearchText($event)"></app-search>
<product-list [searchText]="searchText" #productListComponent></product-list>
 <!-- iteration for the each itearation assign to the item and html portions -->
 <!-- <div *ngFor="let item of [2,3,4,5,6]">
    <p> Current element of an araay is : {{item}}</p>

 </div>
 <div *ngFor="let Item of listOfString">
    <p> Current element of an araay is : {{Item}}</p>
 </div> -->
 <product-detail *ngIf="productListComponent.selectedProduct" [productListComp]="productListComponent"></product-detail>


 <div class="ekart-featured-products">
   <div class="ekart-featured-products-heading">
      <h1> Latest Arrival in poular brands</h1>
   </div>
   <!-- start -->
   
<app-featured-brands>
   <h3 class="title">New Arrivals in Nike</h3>
   <button class="call-to-action" >show new arrival to nike</button>
</app-featured-brands>
<app-featured-brands>
   <h3 class="title">New Arrivals in adidas</h3>
   <button class="call-to-action" >show new arrival to nike</button>
</app-featured-brands>
<app-featured-brands>
   <h3 class="title">New Arrivals in rebox</h3>
   <button class="call-to-action" >show new arrival to nike</button>
</app-featured-brands>

    
    <!-- end -->
 </div>
 
</div>
 <!-- <input bind-value="name"> -->

 <!-- we can use show 2 decimal point -->
<!-- <p>Discount: $999</p> -->




