<div>
    <app-child>
        <h3>Some Heading</h3>
        <p #para>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        </p>
        <p #para>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        </p>
        <p #para>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
        </p>
        <app-test [name]="'pampareddy'"></app-test>
        <app-test [name]="'pampareddy1'"></app-test>
        <app-test [name]="'pampareddy2'"></app-test>
        <app-test [name]="'pampareddy3'"></app-test>
    </app-child>
    <button (click)="ShowParaValue()">Show Value</button>
</div>