
<img [src]="product.pImage">
<p>Name: {{product.name}}</p>
<p>Price: {{ '$' + product.price}}</p>
<p>Color: {{product.color}}</p>
<!-- <p>Discount Price: {{ product.price - (product.price * product.discount / 100)}} </p> -->
 <p>Discount price {{getDiscountPrice().toFixed(2)}}</p>
 <p>{{ product.inStock > 0 ? 'Only ' + product.inStock + ' Items Left' : 'Not In Stock' }}</p>

 <button [disabled]="!(product.inStock > 0)">buy now</button>
 <!-- <input [value]="name" (input)="onNameChange()">  -->
 <!-- <input  (input)="onNameChange()">  -->
 <input  (input)="onNameChange($event)"> 
 <!-- input event for the change the value -->
 <br>
 <p>Name = {{name}}</p>
 <button (click)="decrementCartValue()">-</button>
 <span>{{addToCart}}</span>
 <button (click)="incrementCartValue()">+</button>
 <!-- <input bind-value="name"> -->

 <!-- we can use show 2 decimal point -->
<!-- <p>Discount: $999</p> -->



